html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: black;
}

.navbar {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    left: 0;
    height: 60px;
    justify-content: space-between;
    z-index: 2;

}

.navbar::before {
    content: "";
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

#nav_logo {
    background: #833ab4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz--moz-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'Oswald', sans-serif;
    /* font-stretch: expanded; */
}

.nav_ul {
    position: relative;
    display: flex;
    padding-top: 10px;
    padding-right: 30px;
    width: 400px;
    background-color: black;
}
.highlight{
    border-bottom: 3px solid violet;
    transition: all 0.5 ease;
}
.list_item {
    list-style: none;
    color: white;
    width: 100px;
    margin-bottom: 5px;
    font-size: 1.4rem;
    margin-right: 20px;
    font-family: 'Oswald', sans-serif;
    transition: color 1s ease;
    display: flex;
    transition: all 0.5 ease;
}

.list_item:hover {
    color: turquoise;
}
.anchor_item{
    list-style: none;
    color: white;
    margin-bottom: 5px;
    font-size: 1.4rem;
    font-family: 'Oswald', sans-serif;
    transition: color 1s ease;
    list-style: none;
    text-align: center;
    text-decoration: none;
    margin: auto;
    justify-content: center;
    align-items: center;
    transition: all 0.5 ease;
}

.anchor_item:hover {
    color: violet;
}

.main_btn {
    width: 120px;
    height: 50px;
    background: #833ab4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    border-radius: 2px;
    font-family: 'Baloo Bhaina 2', cursive;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}

.main_btn::before {
    content: "";
    position: absolute;
    background: #b92b27;
    /* fallback for old browsers */
    height: 100%;
    width: 100%;
    top: 0;
    left: 100%;
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: -99999;
    transition: all 0.5s ease;
}

.main_btn:hover::before {
    left: 0;
    transition: all 0.5s ease;
}

.main_btn:nth-child(2n) {
    width: 180px;
}

.main_btn a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

@media screen and (max-width: 900px) {
    #hamburger {
        height: 20px;
        width: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 999999;
    }

    .line {
        height: 4px;
        width: 100%;
        background-color: white;
        transition: all 1s ease;
    }

    .list_item {
        padding: 0;
    }

    .nav_ul {
        position: absolute;
        top: -200px;
        opacity: 0;
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease;
        width: 100%;
        justify-content: center;
        align-items: center;

    }
    #nav_btn{
        width: 100px;
        margin-bottom: 10px;
    }

    /* .nav_ul{
        position: relative;
        top: -1000px;
        z-index: -1;
        transition: all 1s ease;
    }
    .show {
        top: 0;
    } */
    .show {
        top: 60px;
        opacity: 1;
        background: black;
        transition: all 0.5 ease;
    }
    .line_2.active {
        opacity: 0;
    }

    .line_1.active {
        transform: rotate(405deg)translateY(11px);
        /* transition: all 0.8 ease; */
    }

    .line_3.active {
        transform: rotate(-405deg)translateY(-11px);
        /* transition: all 0.8 ease; */
    }

    li {
        cursor: pointer;
        padding: 0;
        text-align: center;
    }

    li a::before {
        content: "";
        background-color: gold;
        display: block;
        width: 100%;
        height: 2px;
        border: 0;
        transform: scale(0);
        transition: all 0.5s ease;
        transform-origin: left;
    }

    li a::after{
        content: "";
        background-color: gold;
        display: block;
        width: 100%;
        height: 2px;
        border: 0;
        transform: scale(0);
        transition: all 0.5s ease;
        transform-origin: right;
    }

    li a:hover::before {
        transform: scale(1);
        transition: all 0.5s ease;
    }

    li a:hover::after {
        transform: scale(1);
        transition: all 0.5s ease;
    }
}

/* hero section */
.hero {
    background: #0000;
    background: linear-gradient(to right, black, rgb(37, 32, 32));
    padding: 50px 0;
    width: 100%;
    position: relative;
    z-index: 1;
}

.hero_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    padding: 30px;
}

.hero_heading {
    font-size: 100px;
    margin-bottom: 24px;
    color: #fff;
    text-align: center;
    font-family: 'Baloo Bhaina 2', cursive;
}

.hero_heading span {
    background: #f12711;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz--moz-text-fill-color: transparent;

}

.hero_description {
    font-size: 60px;
    text-align: center;
    background: #1E9600;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0000, #FFF200, #1E9600);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0000, #FFF200, #1E9600);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz--moz-text-fill-color: transparent;
    margin-top: 0;
    font-family: 'Baloo Bhaina 2', cursive;
}


@media screen and (max-width: 768px) {
    .hero_heading {
        font-size: 60px;
    }

    .hero_description {
        font-size: 40px;
    }
}

.main {
    background: black;
    position: relative;
}

.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* height: 500px; */
    height: 500px;
    z-index: 1;
    width: 100vw;
    max-width: 1300px;
    justify-content: space-around;
    border: 0;
    padding-bottom: 100px;
}

.main_content {
    color: white;
    text-align: center;
    font-family: 'Baloo Bhaina 2', cursive;
}

.main_content h1 {
    background: #1E9600;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0000, #FFF200, #1E9600);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0000, #FFF200, #1E9600);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz--moz-text-fill-color: transparent;
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Baloo Bhaina 2', cursive;
    margin-bottom: 0;

}

.main_content h2 {
    font-size: 3rem;
    margin-top: 0;
    color: #833ab4;
    text-shadow: #a75fd6 1px 2px;
}

.main_content p {
    font-size: 25px;
}

.main_img--container {
    position: relative;
    background: #000;
    height: 100%;
    width: 500px;
    padding-top: 30px;
    margin-top: 10px;
    padding-left: 10px;
}

.main_img--card img {
    width: 90%;
    height: 80%;
}
@media screen and (max-width:1050px) {
    .main_content h1{
        font-size: 60px;
    }
    .main_content h2{
        font-size: 2.6rem;
    }
    .main_content p{
        font-size: 1.3rem;
    }
}

@media screen and (max-width:900px) {
    .main_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .main_img--container {
        width: 70%;
        /* height: 100%; */
        text-align: center;
    }

    .main_content h1 {
        margin-bottom: 20px;
        font-size: 3rem;
    }

    .main_content h2 {
        font-size: 1.7rem;
    }

    .main_content p {
        font-size: 1.1rem;
    }

    .main_content {
        margin-bottom: 20px;
    }

    .main_btn {
        height: 50px;
    }
}

.services {
    background: black;
}

.services h1 {
    margin-top: 0;
    width: 480px;
    margin: auto;
    text-transform: uppercase;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 2rem;
    background: #1E9600;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0000, #FFF200, #1E9600);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0000, #FFF200, #1E9600);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz--moz-text-fill-color: transparent;
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
    line-height: 70px;
    padding-bottom: 20px;
}

.services_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.services_card {
    height: 450px;
    width: 300px;
    display: grid;
    grid-template-rows: 2fr 3fr 2fr;
    justify-content: space-around;
    text-align: center;
    border: none;
    margin: 20px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.services_card p {
    font-size: 2.3rem;
    color: white;
    font-family: 'Baloo Bhaina 2', cursive;
    /* text-shadow: #000 2px 2px; */
    background: #C6FFDD;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz--moz-text-fill-color: transparent;
    font-weight: bold;
}

.card_btn {
    width: 100px;
    height: 50px;
    margin: auto;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    border: 1px solid black;
    color: #fff;
    text-shadow: black 2px 2px;
    position: relative;
    z-index: 9999;
    font-size: 1.01rem;
    font-family: 'Baloo Bhaina 2', cursive;
    cursor: pointer;
    text-align: center;
    padding-top: 2px;
}

.card_btn::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    z-index: -1;
    opacity: 0.3;

}

.card_btn:hover {
    background-color: black;
    opacity: 0.7;
}

.services_card h2 {
    color: white;
    font-size: 2rem;
    padding-top: 20px;
    font-family: 'Baloo Bhaina 2', cursive;
    text-shadow: #000 2px 4px;
    opacity: 0.8;

}

.services_card:hover {
    transform: scale(1.1);
}

.card_1 {
    position: relative;
    z-index: 1;
}

.card_1::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(./images/pexels2.jpg) no-repeat center center/cover;
    z-index: -1111;
    opacity: 0.3;
    border-radius: 20px;

}

.card_2 {
    position: relative;
    z-index: 1;

}

.card_2::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(./images/pexels1.jpg) no-repeat center center/cover;
    z-index: -1;
    opacity: 0.3;
    border-radius: 20px;

}

.card_3 {
    position: relative;
    z-index: 1;
}

.card_3::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(./images/pexels3.jpg) no-repeat center center/cover;
    z-index: -1;
    opacity: 0.3;
    border-radius: 20px;

}

.card_4 {
    position: relative;
    z-index: 1;
}

.card_4::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(./images/pexels4.jpg) no-repeat center center/cover;
    z-index: -1;
    opacity: 0.3;
    border-radius: 20px;

}
@media screen and (max-width:900px){
    .services h1{
        font-size: 45px;
        width: 300px;
        padding-bottom: 5px;
    }
}
.sign_up {
    width: 100%;
    height: 100%;
    position: relative;
}

.sign_up::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.sign_up--container {
    display: flex;
    justify-content: space-around;
    max-width: 1600px;
    margin: auto;
    /* align-items: center; */
    padding-top: 40px;
    padding-bottom: 40px;
}

.join_us {

    padding-left: 50px;
}

.join_us h1 {
    color: white;
    font-size: 70px;
    width: 500px;
    text-align: center;
    font-family: 'Baloo Bhaina 2', cursive;
    margin: 0;
    background: #1E9600;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0000, #FFF200, #1E9600);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0000, #FFF200, #1E9600);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz--moz-text-fill-color: transparent;
    font-weight: bold;
    text-transform: uppercase;

}

.join_us h2 {
    color: rgb(93, 42, 158);
    font-size: 4rem;
    text-align: center;
    font-family: 'Baloo Bhaina 2', cursive;
    margin: 0;
    text-shadow: violet 2px 2px;
}

.join_us p {
    color: white;
    font-size: 2rem;
    font-family: 'Baloo Bhaina 2', cursive;
    text-align: center;
    margin: 0;
    height: 100px;

}

.join_us button {
    display: block;
    margin: auto;
    margin-top: 0;
    color: white;
    font-size: 1.5rem;
    text-shadow: black 2px 2px;
}

.sign_up--img--container {
    position: relative;
    background: #000;
    /* height: 100%; */
    width: 500px;
    margin-top: 10px;

}

.sign_up--img--container img {
    width: 90%;

}
@media screen and (max-width:900px) {
    .sign_up--container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .sign_up--img--container {
        width: 70%;
        /* height: 100%; */
        text-align: center;
    }

    .sign_up--container h1 {
        /* margin-bottom: 20px; */
        font-size: 3rem;
    }

    .sign_up--container h2 {
        font-size: 2rem;
    }

    .sign_up--container p {
        font-size: 1.5rem;
        height: 60px;
        padding: 20px 0;
    }

    .join_us {
        margin-bottom: 20px;
        padding: 0;
        width: 100%;
        text-align: center;
    }.join_us h1{
        width: 100%;
        text-align: center;
    }
}
footer{
    background-color: rgb(37, 36, 36);
}
.footer_container{
   display: flex;
   max-width: 1600px;
   margin: auto;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}
.footer_item{
    width: 180px;
}
.footer_item h2{
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 1.5rem;
    color: cornsilk;
    text-shadow: black 2px 2px;
    width: 180px;
    margin-bottom: 0;
    text-align: center;
}
.footer_item p a{
    text-decoration: none;
    color: blanchedalmond;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: 'Baloo Bhaina 2', cursive;
    text-align: center;
    display: block;
    margin: auto;
}
.footer_item p{
    display: block;
    width: 180px;
    margin: auto;
}
.footer_logo{
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    display: block;
    width: 140px;
    font-family: 'Baloo Bhaina 2', cursive;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    margin: 30px auto;
    text-shadow: rgb(0, 0, 0) 1px 1px;
}
.copy_content{
    display: block;
    width: 250px;
    margin: auto;
    color: white;
    font-family: 'Baloo Bhaina 2', cursive;
}
.media_logos{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.ss{
    width: 60px;
    padding: 20px 40px;
    filter: grayscale(1)invert(1);
}
@media screen and (max-width:900px){
    .ss{
        width: 40px;
        padding: 20px 10px;
    }
}
#nav_btn{
    height: 45px;
    border-bottom: 3px;
    cursor: pointer;
}
